.container {
  display : flex;
  flex-flow: column;
  margin-left:auto;
  margin-right:auto; 
  align-items:center;
  width:99%;
  }

.instructions {
  text-align:center;

}

.instructions h1, .instructions button {
  margin-right:auto;
  margin-left:auto;

}

.instructions h1 {
  font-size: 3em;
  color:#b7d44f;
}

.instructions button {
  font-size: 1.5em;
  padding: 0.5em;
  background-color: #b7d44f;
  color: black;
  border-radius: 14px;
  display:none; 
}

#game-overlay {
  width:700px; 
  height:450px;
  background-image:url("images/Idle.png");
  background-size : contain; 
  background-position: center;
  background-repeat: no-repeat;
}

#gameOver-message {
  color:rgb(255, 51, 0); 
  font-size:2em;
  text-align:center;
}

canvas {
display:none;
border:2px solid;
}